/* GENERALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* NAVBAR --------------------------*/
.root {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.6rem;

}

.navbar-logo {
    font-family: 'Junge', cursive;
    font-size: 3.6rem;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 4.2rem;
}

.navbar-item a {
    text-decoration: none;
    font-weight: 300;
    color: #333;
    transition: all 0.3s ease;
}

.navbar-item a:hover {
    color: #000;
}

.navbar-icons {
    display: flex;
    gap: 1.6rem;
    font-size: 2.4rem;
}

.navbar-icons a {
    text-decoration: none;
    color: #000;
}

/* HEADER ------------------------ */
.header {
    display: flex;
    height: 50.6rem;
    /* background-image: url('../assets/img/header-background.jpeg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    width: 55%;
    /* background-color: red; */
}

.header-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 6.4rem;
    font-weight: 200;
}

.header-subtitle {
    font-weight: 200;
}

.pale-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(182, 179, 164, 0.158);
    width: 60%;
    height: 62.3rem;
}

.btn {
    all: unset;
    width: 12rem;
    height: 4.8rem;
    font-weight: 200;
    text-align: center;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px #000;
    color: #000;
    background-color: #fff;
}

/* TRENDING ------------------------------ */
.trending-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

}

.trending-card {
    /* padding: 3.2rem 4.8rem; */
    padding: 2.4rem 3.8rem;
    border: 2px solid rgba(181, 179, 170, 0.249);
}

.trending-card--lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.8rem; */
}

.trending-card--sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem !important;
    text-align: center !important;
}

.trending-card-info {
    display: flex;
    flex-direction: column;
}

.trending-card-category {
    font-size: 1.2rem;
    font-weight: 200;
}

.trending-card-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.8rem;
}

.trending-card-img {
    width: 40%;
    padding: 2.4rem;
}

.trending-card-btn {
    all: unset;
    width: 10rem;
    height: 3.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px #000;
    transition: all 0.3s ease;
}

.trending-card-btn:hover {
    cursor: pointer;   
    color: #fff;
    background-color: #000;
}

/* COLLECTION --------------------------- */
.collection {
    display: flex;
    flex-direction: column;
}

.collection-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 2px solid rgba(181, 179, 170, 0.249);
}

.collection-img {
    width: 50%;
    max-height: 60%;
    margin-top: 1.8rem;
    /* aspect-ratio: 1 / 1; */
}

.collection-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    padding: 0.6rem 0;
    background-color: rgba(181, 179, 170, 0.249);
}

.collection-title {
    font-size: 1.2rem;
}

.collection-price {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Review -------------------------------- */
.review {
    width: 100%;
}

.review-content {
    display: flex;
}

.review-img-container {
    width: 50%;
    background-color: rgba(181, 179, 170, 0.249);
}

.review-info-container {
    width: 50%;
    padding: 2.4rem;
    background-color: rgba(181, 179, 170, 0.249);
}

.review-header {
    padding: 2rem 0 1rem 0; 
}

.review-text-container {
    padding: 2.4rem  0;
    line-height: 3rem;
}

.review-btn {
    all: unset;
    padding: 0.2rem 2rem;
    font-size: 2rem;
    border: 1px solid #222 ;
    transition: all 0.3s;
}

.review-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #222;
}

.review-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.4rem;
    padding: 2.4rem 0;
}

.review-rate {
    /* padding: 2.4rem; */
}

/* FOOTER */
.footer {
    margin-top: 18rem;
    padding: 12rem;
    color: #fff;
    background-color: #333;
}

/* ------------------------- */
/* assets */
.title-primary {
    color: #333;
    margin-bottom: 2rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.2rem;
}

.browse-more a {
    color: #000;
}

.browse-more a:hover {
    text-decoration: underline;
}

.grid-span-2 {
    grid-column: span 2;
}
